<style>
    @media print {
        div.page-break {
            page-break-after: always;
        }
        header {
            display: none;
        }
        footer {
            display: none;
        }
    }
</style>
{% for reply in replies %}
    <header>
        start
    </header>
    {% for segment in reply.segments %}
        <h2>{{ segment.question }}</h2>
        <div>{{ segment.answer }}</div>
    {% endfor %}
    <footer>
        End
    </footer>
    <div class="page-break"></div>
{% endfor %}